<div class="register-container">
    <h2>Registro</h2>
    <form id="register-form" action="/api/session/registro" method="post">
        
        <input type="text" name="nombre" placeholder="nombre">
        <input type="email" name="email" placeholder="correo electrónico">
        <input type="password" name="password" placeholder="contraseña">
        <input type="submit" value="Registrar">

    </form> 
</div>
{{>menu}}