<ul>
    <li>
        <a href="/products">Home</a>
    </li>
    <li>
        <a href="/registro">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/profile">Perfil</a>
    </li>
    <li>
        <a href="/api/session/logout">Logout</a>
    </li>
</ul>